@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('./cdn.css');

body {
    /* font-family: 'Arvo', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Rubik', sans-serif;;
}

:root {
    --color-navbar: #2157e1;
    --color-lynx-white: #F7F7F7;
    --color-lynx-gray: #C5C5C5;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-dark: #343a40;
    --color-light: #f8f9fa;
    --color-success:#28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #17a2b8;
    --color-white: #FFFFFF;
    --color-slate-gray: #F3F4F6;
    --color-green: #00FF00;
    --color-gray: #808080;
    --color-red: #FF0000;
    --color-orange:#FFA500;
    --color-blue: #0000FF;
}

hr {
    border-bottom: thin solid var(--color-lynx-gray);
    margin: 5px;
}

h1 {
    font-size: 4.8rem;
    line-height: 6.4rem;
    margin: 1rem;
    font-weight: 500;
}

h2 {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 400;
    margin: 1rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 300;
    margin: 1rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 3.2rem;
    font-weight: 200;
    margin: 1rem;
}

.primary {
   background-color: var(--color-primary);
   color: var(--color-white);
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.dark {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.light {
    background-color: var(--color-light);
}

.success {
    background-color: var(--color-success);
    color: var(--color-white);
}

.danger {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.warning {
    background-color: var(--color-warning);
}

.info {
    background-color: var(--color-info);
    color: var(--color-white);
}

.navbar {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    height: 7rem;
    /* position: sticky; */
    top: 0;
}

.logo {
    width: 18rem;
    margin: 0.5rem;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-items {
    font-size: 2rem;
    color: var(--color-white);
    padding: 1.5rem;
}

.main-body {
    height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.side-image {
    width: 45vw;
    height: 90vh;
    order: 2;
}

.side-content {
    width: 40vw;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
}

.content {
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: justify;
}


.pt-10 {
    padding-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.footer {
    background-color: var(--color-lynx-gray);
    height: 3rem;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    bottom: 0;
}

.footer-content {
    font-size: 1.5rem;
    font-weight: bolder;
}

.footer-icons {
    width: 1.5rem;
    color: var(--color-primary);
    margin: 0.7rem;
    cursor: pointer;
}

@media only screen and (max-width: 480px){
    body {
        min-width: 48rem;
        height: 100vh;
    }
    .main-body {
        height: calc(100vh);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        overflow-y:scroll;
    }

    .side-image {
        width: 100vw;
        height: 100vh;
        order: 1;
    }
    
    .side-content {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        order: 2;
    }

    .doc-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0rem 4rem;
    }

    .side-nav-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .side-nav {
        height: 100%;
    }
       
    .get-started-nav-items {
        display: none;
    }

    .components-nav-items {
        display: none;
    }

    .doc-content {
        flex-basis: 100vw;
    }

}

@media only screen and (max-width: 720px) and (min-width: 480px){
    .main-body {
        height: calc(100vh - 10rem);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        overflow-y:scroll;
    }

    .side-image {
        width: 100vw;
        height: 100vh;
        order: 1;
    }
    
    .side-content {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        order: 2;
    }

    .doc-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 1rem 6rem;
    }

    .side-nav-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .side-nav {
        height: 100%;
    }
    
    .get-started-nav-items {
        display: none;
    }

    .components-nav-items {
        display: none;
    }
 
    .doc-content {
        flex-basis: 100vw;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 720px){
    .main-body {
        height: calc(100vh - 10rem);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .side-image {
        width: 45vw;
        height: 85vh;
        order: 2;
    }
    
    .side-content {
        width: 50vw;
        margin: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        order: 1;
    }

    .doc-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 2rem 8rem;
    }

    .side-nav {
        height: 100%;
    }
        
    .doc-content {
        margin: 0 4rem;
        flex-basis: 100vw;
    }

    #get-started-expand-more {
        display: none;
    }

    #components-expand-more {
        display: none;
    }

    #get-started-expand-less {
        display: none;
    }

    #components-expand-less {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {

    .doc-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 2rem 12rem;
    }

    .side-nav {
        height: 100%;
        flex-basis: 25vw;
        position: sticky;
        top: 0em;
    }
       
    .doc-content {
        flex-basis: 70vw;
    }

    #get-started-expand-more {
        display: none;
    }

    #components-expand-more {
        display: none;
    }

    #get-started-expand-less {
        display: none;
    }

    #components-expand-less {
        display: none;
    }
}

.preview-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-slate-gray);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 0;
    gap: 2rem;
    flex-wrap: wrap;
}

.code-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-block iframe {
    width: 100%;
}

.material-icons-outlined.display-none {
    display: none;
}

.material-icons-outlined.display-block {
    display: block;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.side-nav-items {
    font-size: 1.5rem;
    margin: 1rem;
}