<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../reset.css"></link>
    <link rel="stylesheet" href="avatar.css"></link>
    <link rel="stylesheet" href="../../index.css"></link>
    <title>avatar</title>
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="../../assets/logo.png" alt="logo">
        <ul class="flex-container flex-row">
            <li class="flex-items">Home</li>
            <li class="flex-items">Docs</li>
            <li class="flex-items">Contribute</li>
        </ul>
    </nav>
    <main class="doc-container">
        <aside class="side-nav">
            <h3>Get Started</h3>
            <ul>
                <li class="side-nav-items">Avatar</li>
                <li class="side-nav-items">Avatar2</li>
                <li class="side-nav-items">Avatar3</li>
                <li class="side-nav-items">Avatar4</li>
            </ul>

            <h3>Components</h3>
            <ul>
                <a href="./avatar.html"><li class="side-nav-items">Avatar</li></a>
                <a href="../alert/alert.html"><li class="side-nav-items">Alert</li></a>
                <a href="../badge/badge.html"><li class="side-nav-items">Badge</li></a>
                <a href="../button/button.html"><li class="side-nav-items">Button</li></a>
            </ul>
        </aside>
        <div class="doc-content">
            <h2>Avatar Component</h2>
            <hr>
            <section>
                <div class="components">
                    <h3>Image Avatar</h3>
                    <div class="preview-block">
                        <img class="avatar" src="../../assets/bean.jfif" alt="Bean">
                        <img class="avatar" src="../../assets/mickey-mouse.jfif" alt="Micky Mouse">
                        <img class="avatar" src="../../assets/bean.jfif" alt="Bean">
                        <img class="avatar" src="../../assets/mickey-mouse.jfif" alt="Micky Mouse">
                        <img class="avatar" src="../../assets/bean.jfif" alt="Bean">
                        <img class="avatar" src="../../assets/mickey-mouse.jfif" alt="Micky Mouse">
                    </div>
                </div>
                <div class="code-block">
                    <iframe
                        src="https://carbon.now.sh/embed/tLmXeYZxUd7yDB9GOPYr"
                        style="width: 100%; height: 202px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </section>
    
            <section>
                <div class="components">
                    <h3>Different Sized Image Avatar</h3>
                    <div class="preview-block">
                        <img class="avatar avatar-sm" src="../../assets/bean.jfif" alt="Avatar Small">
                        <img class="avatar" src="../../assets/bean.jfif" alt="Avatar">
                        <img class="avatar avatar-md" src="../../assets/bean.jfif" alt="Avatar Medium">
                        <img class="avatar avatar-lg" src="../../assets/bean.jfif" alt="Avatar Large">
                        <img class="avatar avatar-xl" src="../../assets/bean.jfif" alt="Avatar extra large">
                    </div>
                </div>
                <div class="code-block">
                    <iframe
                        src="https://carbon.now.sh/embed/tLmXeYZxUd7yDB9GOPYr"
                        style="width: 100%; height: 180px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </section>
    
            <section>
                <div class="component">
                    <h3>Text Avatar</h3>
                    <div class="preview-block">
                        <span class="avatar text-avatar">N</span>
                        <span class="avatar text-avatar">E</span>
                        <span class="avatar text-avatar">O</span>
                        <span class="avatar text-avatar">G</span>
                        <span class="avatar text-avatar">NEo</span>
                    </div>
                </div>
                <div class="code-block">
                    <iframe
                    src="https://carbon.now.sh/embed/tLmXeYZxUd7yDB9GOPYr"
                    style="width: 100%; height: 180px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </section>
    
            <section>
                <div class="component">
                    <h3>Text Color Variants Avatar</h3>
                    <div class="preview-block">
                        <span class="avatar text-avatar primary">N</span>
                        <span class="avatar text-avatar secondary">E</span>
                        <span class="avatar text-avatar dark">O</span>
                        <span class="avatar text-avatar light">G</span>
                        <span class="avatar text-avatar success">N</span>
                        <span class="avatar text-avatar danger">E</span>
                        <span class="avatar text-avatar warning">O</span>
                        <span class="avatar text-avatar info">G</span>
                    </div>
                </div>
                <div class="code-block">
                    <iframe
                        src="https://carbon.now.sh/embed/tLmXeYZxUd7yDB9GOPYr"
                        style="width: 100%; height: 244px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
    
            </section>
        </div>
    </main>
</body>
</html>