<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../reset.css"></link>
    <link rel="stylesheet" href="avatar.css"></link>
    <link rel="stylesheet" href="../../index.css"></link>
    <title>avatar</title>
</head>
<body>
    <div class="container">
        <h1>Avatar Component</h1>
        <hr>
        <section>
            <h3>Image Avatar</h3>
            <img class="avatar" src="../../assets/bean.jfif" alt="Bean">
            <img class="avatar" src="../../assets/mickey-mouse.jfif" alt="Micky Mouse">
            <img class="avatar" src="../../assets/bean.jfif" alt="Bean">
            <img class="avatar" src="../../assets/mickey-mouse.jfif" alt="Micky Mouse">
            <img class="avatar" src="../../assets/bean.jfif" alt="Bean">
            <img class="avatar" src="../../assets/mickey-mouse.jfif" alt="Micky Mouse">
        </section>

        <section>
            <h3>Different Sized Image Avatar</h3>
            <img class="avatar avatar-s" src="../../assets/bean.jfif" alt="Male Avatar">
            <img class="avatar" src="../../assets/bean.jfif" alt="Male Avatar">
            <img class="avatar avatar-m" src="../../assets/bean.jfif" alt="Male Avatar">
            <img class="avatar avatar-l" src="../../assets/bean.jfif" alt="Male Avatar">
            <img class="avatar avatar-xl" src="../../assets/bean.jfif" alt="Male Avatar">
        </section>

        <section>
            <h3>Text Avatar</h3>
            <span class="avatar text-avatar">N</span>
            <span class="avatar text-avatar">E</span>
            <span class="avatar text-avatar">O</span>
            <span class="avatar text-avatar">G</span>
            <span class="avatar text-avatar">NEo</span>
        </section>

        <section>
            <h3>Text Color Variants Avatar</h3>
            <span class="avatar text-avatar primary">N</span>
            <span class="avatar text-avatar secondary">E</span>
            <span class="avatar text-avatar dark">O</span>
            <span class="avatar text-avatar light">G</span>
            <span class="avatar text-avatar success">NEo</span>
            <span class="avatar text-avatar danger">G</span>
            <span class="avatar text-avatar warning">G</span>
            <span class="avatar text-avatar info">G</span>
        </section>
    </div>
</body>
</html>