<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../reset.css"></link>
    <link rel="stylesheet" href="badge.css"></link>
    <link rel="stylesheet" href="../../index.css"></link>
    <title>badge</title>
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="../../assets/logo.png" alt="logo">
        <ul class="flex-container flex-row">
            <li class="flex-items">Home</li>
            <li class="flex-items">Docs</li>
            <li class="flex-items">Contribute</li>
        </ul>
    </nav>
    <main class="doc-container">
        <aside class="side-nav">
            <h3>Get Started</h3>
            <ul>
                <li class="side-nav-items">Avatar</li>
                <li class="side-nav-items">Avatar2</li>
                <li class="side-nav-items">Avatar3</li>
                <li class="side-nav-items">Avatar4</li>
            </ul>

            <h3>Components</h3>
            <ul>
                <a href="../avatar/avatar.html"><li class="side-nav-items">Avatar</li></a>
                <a href="./badge.html"><li class="side-nav-items">Badge</li></a>
                <a href="../button/button.html"><li class="side-nav-items">Button</li></a>
            </ul>
        </aside>
        <div class="doc-content">
            <h2>Badge Component</h2>
            <hr>
            <section>
                <div class="components">
                    <h3>Badge on image avatar</h3>
                    <div class="preview-block">
                        <div class="badge">
                            <img class="avatar" src="../../assets/human.png" alt="human">
                            <span class="badge-status online"></span>
                        </div>
                        <div class="badge">
                            <img class="avatar" src="../../assets/human.png" alt="human">
                            <span class="badge-status offline"></span>
                        </div>
                        <div class="badge">
                            <img class="avatar" src="../../assets/human.png" alt="human">
                            <span class="badge-status idle"></span>
                        </div>
                        <div class="badge">
                            <img class="avatar" src="../../assets/human.png" alt="human">
                            <span class="badge-status dnd"></span>
                        </div>
                    </div>
                </div>
                <div class="code-block">
                    <iframe
                        src="https://carbon.now.sh/embed/Ykl6dIJ0rrVUzUaMiNMC"
                        style="width: 598px; height: 414px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </section>
    
            <section>
                <div class="components">
                    <h3>Badge on different sized avatar</h3>
                    <div class="preview-block">
                        <div class="badge">
                            <img class="avatar avatar-l" src="../../assets/human.png" alt="human">
                            <span class="badge-status online"></span>
                        </div>
                        <div class="badge">
                            <img class="avatar avatar-xl" src="../../assets/human.png" alt="human">
                            <span class="badge-status offline"></span>
                        </div>
                        <div class="badge">
                            <img class="avatar" src="../../assets/human.png" alt="human">
                            <span class="badge-status idle"></span>
                        </div>
                        <div class="badge">
                            <img class="avatar avatar-m" src="../../assets/human.png" alt="human">
                            <span class="badge-status dnd"></span>
                        </div>
                    </div>
                </div>
                <div class="code-block">
                    <iframe
                        src="https://carbon.now.sh/embed/Jl3eRibIUrkeh1QLKwim"
                        style="width: 685px; height: 414px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </section>
    
            <section>
                <div class="component">
                    <h3>Badge on Icon</h3>
                    <div class="preview-block">
                        <div class="badge">
                            <img class="icon" src="../../assets/mail-icon.png" alt="mail">
                            <span class="badge-count">1</span>
                        </div>
                        <div class="badge">
                            <img class="icon" src="../../assets/cart-icon.png" alt="cart">
                            <span class="badge-count">1</span>
                        </div>
                        <div class="badge">
                            <img class="icon" src="../../assets/notification-icon.png" alt="notification">
                            <span class="badge-count">1</span>
                        </div>
                    </div>
                </div>
                <div class="code-block">
                    <iframe
                        src="https://carbon.now.sh/embed/N3o6inF2OE7mdqU22kPp"
                        style="width: 745px; height: 330px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                  </iframe>

                </div>
            </section>
        </div>
    </main>
</body>
</html>