.snackbar-preview {
    display: flex;
    flex-direction: column;
}

.snackbar {
    background-color: var(--color-lynx-gray);
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
    width: 28rem;
}

.snackbar-top-right {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem 1rem 0 0;
    z-index: 10;
}

.snackbar-top-left {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1rem;
    z-index: 10;
}

.snackbar-top-center {
    position: fixed;
    top: 0;
    right: 50%;
    left: 50%;
    margin: 1rem 0 0 0;
    z-index: 10;
}

.snackbar-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1rem 1rem 0;
    z-index: 10;
}

.snackbar-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 1rem 1rem;
    z-index: 10;
}

.snackbar-bottom-center {
    position: fixed;
    bottom: 0;
    right: 50%;
    left: 50%;
    margin: 0 0 1rem 0;
    z-index: 10;
}

.snackbar-dismiss {
    cursor: pointer;
}

.snackbar-success {
    background-color: var(--color-success);
    color: var(--color-white);
}

.snackbar-danger {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.snackbar-warning {
    background-color: var(--color-warning);
}

.snackbar-info {
    background-color: var(--color-info);
    color: var(--color-white);
}